// *******************************************************
// Name: _helpers-classes.scss
// Description: Quick helper classes. These help blocks remain flexible.
// *******************************************************



// Helper Colors
// -------------------------------------------------------

// Background Colors
// ---------------------------
.bg-dark { background-color: #222; }
.bg-light { background-color: #fff; }
.text-primary { background-color: #444; }
.bg-accent { background-color: purple; }

// Text Colors
// ---------------------------
.text-dark { color: #222; }
.text-light { color: #fff; }
.text-primary { color: #444; }
.text-accent { color: purple; }