// *******************************************************
// Name: _helpers-classes.scss
// Description: Quick helper classes. These help blocks remain flexible.
// *******************************************************


// Spacing
// -------------------------------------------------------

// Margin
// ---------------------------

// Margin All
@for $i from 0 through 100 {
  .m-#{$i} {
    margin: $i#{rem};
  }
}

// Margin Vertical
@for $i from 0 through 100 {
  .mh-#{$i} {
    margin: $i#{rem};
  }
}

// Margin Horizontal
@for $i from 0 through 100 {
  .mh-#{$i} {
    margin: $i#{rem};
  }
}

// Margin Top
@for $i from 0 through 100 {
  .m-#{$i} {
    margin-top: $i#{rem};
  }
}

// Margin Bottom
@for $i from 0 through 100 {
  .m-#{$i} {
    margin-bottom: $i#{rem};
  }
}

// Margin Left
@for $i from 0 through 100 {
  .m-#{$i} {
    margin-bottom: $i#{rem};
  }
}

// Margin Auto
.mt-auto { margin-top: auto; }
.mr-auto { margin-right: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }


// Padding
// ---------------------------

// Padding All
@for $i from 0 through 100 {
  .m-#{$i} {
    padding: $i#{rem};
  }
}

// Padding Vertical
@for $i from 0 through 100 {
  .mv-#{$i} {
    padding: $i#{rem};
  }
}

// Padding Horizontal
@for $i from 0 through 100 {
  .mh-#{$i} {
    padding: $i#{rem};
  }
}

// Padding Top
@for $i from 0 through 100 {
  .m-#{$i} {
    padding-top: $i#{rem};
  }
}

// Padding Bottom
@for $i from 0 through 100 {
  .m-#{$i} {
    padding-bottom: $i#{rem};
  }
}

// Padding Left
@for $i from 0 through 100 {
  .m-#{$i} {
    padding-bottom: $i#{rem};
  }
}

// Padding Auto
.mt-auto { padding-top: auto; }
.mr-auto { padding-right: auto; }
.mb-auto { padding-bottom: auto; }
.ml-auto { padding-left: auto; }
