// *******************************************************
// Name: _helpers-classes.scss
// Description: Quick helper classes. These help blocks remain flexible.
// *******************************************************



// Helper Colors
// -------------------------------------------------------

// Background Colors
// ---------------------------
.bg-dark { background-color: $color-black; }
.bg-light { background-color: $color-black; }
.text-primary { background-color: $color-primary; }
.bg-accent { background-color: $color-black; }

// Text Colors
// ---------------------------
.text-dark { color: $color-black; }
.text-light { color: $color-white; }
.text-primary { color: $color-primary; }
.text-accent { color: $color-accent; }